

  <div class="sidebar-item friend">
    <h3>Be my friend!</h3>
    <div class="social-icon-list">
      <div class="social-icon">
        <a href="">
          <img src="https://cdn.shopify.com/s/files/1/1042/8868/files/facebook.png?18208085476536943212" class="land" />
          <img src="https://cdn.shopify.com/s/files/1/1042/8868/files/facebook_273839d5-fed8-4e2f-b959-3e2194db6bed.png?18041210120226551077" class="hover" />
        </a>
      </div>
      <div class="social-icon">
        <a href="">
          <img src="https://cdn.shopify.com/s/files/1/1042/8868/files/twitter.png?18208085476536943212" class="land" />
          <img src="https://cdn.shopify.com/s/files/1/1042/8868/files/twitter_5b7cd945-ae36-4047-92d1-82b80c524b53.png?18041210120226551077" class="hover" />
        </a>
      </div>
      <div class="social-icon">
        <a href="">
          <img src="https://cdn.shopify.com/s/files/1/1042/8868/files/instagram.png?18208085476536943212" class="land" />
          <img src="https://cdn.shopify.com/s/files/1/1042/8868/files/instagram_6983705c-d84f-4e19-8a22-d9a79cc1c717.png?18041210120226551077" class="hover" />
        </a>
      </div>
    </div>
  </div>
  <div class="sidebar-item club">
    <a href="http://wanda-petunia-2.myshopify.com/pages/wanda-book-club"><h3>Join Wanda Book Club</h3></a>
  </div>
  <div class="sidebar-item love">
    <a href="http://eepurl.com/LAMXb" target="_blank"><h3>Want a love note?</h3></a>
  </div>
